# Environnement
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.log
*.png
*.venv
env/
venv/

# IDE
.idea/
.vscode/


# Fichiers UV
uv.lock

# Données temporaires
old/exogenous_model_v0/**/__pycache__/
meta_model_v0/**/__pycache__/
**/checkpoints/
**/features_and_target/
**/splits/
meta_model_v0/results/
/log/
